/* CSS Style sheet
   Create by kraven
    By 2018-2019 */
   body{
	color: #366;
	text-decoration: none;
	background-color: #9CF;	

   }
   
   a:link{
	font-size: 18px;
	color: #039;
	text-decoration: none;	
	
	   }